<!-- /templates/customers/register.liquid -->
<div class="Sections">
	<div class="Site-container">
		<div class="col-12">
			<h1>{{ 'customer.register.title' | t }}</h1>

			{% form 'create_customer', class: 'Form' %}

				<div class="Form__group">
					{{ form.errors | default_errors }}
				</div>

				<div class="Form__group">
					<label for="FirstName" class="label-hidden">
						{{ 'customer.register.first_name' | t }}
					</label>

					<input
						class="Input d-block w-100"
						type="text"
						name="customer[first_name]"
						id="FirstName"
						placeholder="{{ 'customer.register.first_name' | t }}"
						autofocus
						{% if form.first_name %}value="{{ form.first_name }}"{% endif %}
					>
				</div>


				<div class="Form__group">
					<label for="LastName" class="label-hidden">
						{{ 'customer.register.last_name' | t }}
					</label>

					<input
						class="Input d-block w-100"
						type="text"
						name="customer[last_name]"
						id="LastName"
						placeholder="{{ 'customer.register.last_name' | t }}"
						{% if form.last_name %}value="{{ form.last_name }}"{% endif %}
					>
				</div>

				<div class="Form__group">
					<label for="Email" class="label-hidden">
					{{ 'customer.register.email' | t }}
					</label>

				<input
					type="email"
					name="customer[email]"
					id="Email"
					class="Input w-100 d-block{% if form.errors contains 'email' %} Input--error input-error{% endif %}"
					placeholder="{{ 'customer.register.email' | t }}"
					value="{% if form.email %}{{ form.email }}{% endif %}"
					spellcheck="false"
					autocomplete="off"
					autocapitalize="off"
				>
				</div>

				<div class="Form__group">
					<label for="CreatePassword" class="label-hidden">
						{{ 'customer.register.password' | t }}
					</label>

					<input
						class="Input d-block w-100"
						type="password"
						name="customer[password]"
						id="CreatePassword"
						class="{% if form.errors contains 'password' %}input-error{% endif %}"
						placeholder="{{ 'customer.register.password' | t }}"
					>
				</div>

				<div class="Form__group">
					<input type="submit" value="{{ 'customer.register.submit' | t }}" class="Input d-block w-100 button">
				</div>

				<div class="Form__group">
					<a class="text-decoration-underline" href="{{ shop.url }}">{{ 'customer.register.cancel' | t }}</a>
				</div>
			{% endform %}
		</div>
	</div>
</div>
