<footer class="Footer">
    <div class="Site-container">
        <div class="row">
            <div class="col-12 col-md-4 margin-bottom-3 margin-bottom-md-0">
                {% if linklists[section.settings.footer_linklist].links.size > 0 %}
                    <h3 class="Footer__title">{{ shop.name }}</h3>

                    <ul class="Footer__items">
                        {% for link in linklists[section.settings.footer_linklist].links %}
                            <li class="Footer__item">
                                <a href="{{ link.url }}">{{ link.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
			</div>



            <div class="col-12 col-md-4 margin-top-3 margin-top-md-0">
				<h3 class="Form validate Footer__title">Newsletter</h3>
				{% form 'customer' %}
					{{ form.errors | default_errors }}

					{% if form.posted_successfully? %}
						<div>{{ 'general.newsletter_form.confirmation' | t }}</div>
					{% else %}
						<div class="Form__group">
							<input type="hidden" name="contact[tags]" value="newsletter">
							<input class="Input d-block w-100 margin-bottom-2" type="email" name="contact[email]" id="Email" value="{% if customer.email != blank %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}" autocorrect="off" autocapitalize="off">
							<button class="Input d-block w-100 margin-bottom-2" type="submit" name="commit" id="Subscribe">
								{{ 'general.newsletter_form.submit' | t }}
							</button>
						</div>

					  {% endif %}
				{% endform %}

            </div>
        </div>
        <div class="row margin-top-6">
            <div class="col-12 col-md-6 margin-bottom-3 margin-bottom-md-0">
                {% if linklists[section.settings.copyright_linklist].links.size > 0 %}
                    <ul class="Footer__copyright">
                        {% for link in linklists[section.settings.copyright_linklist].links %}
                            <li>
                                <a href="{{ link.url }}">{{ link.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="col-12 col-md-6 d-flex margin-top-3 margin-top-md-0 justify-content-md-end color-white">
                {% include 'socials' %}
            </div>
        </div>
    </div>
</footer>

{% schema %}

{
    "name": "Footer",
    "settings": [
        {
            "type": "link_list",
            "id": "footer_linklist",
            "label": "Footer Menu"
        }, {
            "type": "link_list",
            "id": "copyright_linklist",
            "label": "Copyright Menu"
        }
    ]
}

{% endschema %}
