<header class="Header">
    <div class="Site-container">
        <div class="row">
            <div class="col-6 d-none d-md-block">
                <div class="Shop-name">
                    <a href="{{ shop.secure_url }}">{{ shop.name }}</a>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="Menu-header">

                    <ul class="Menu-header__items">

                        <li class="Menu-header__item">
                            <a href="/pages/wishlist">
                                <svg>
                                    <use href="#green" xlink:href="#green"></use>
                                </svg>
                                <span class="Menu-header__label">{{ 'menu.header.wishlist' | t }}</span>
                            </a>
                        </li>

                        {% if shop.customer_accounts_enabled %}
                            {% if customer  %}
                                <li class="Menu-header__item">
                                    <a href="/account">
                                        <svg>
                                            <use href="#cap" xlink:href="#cap"></use>
										</svg>
										<span class="Menu-header__label">{{ 'menu.header.account' | t }}</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="Menu-header__item">
									<a id="customer_login_link" href="/account/login">
										<svg>
											<use href="#cap" xlink:href="#cap"></use>
										</svg>
										<span class="Menu-header__label">{{ 'menu.header.login' | t }}</span>
									</a>
                                </li>
                            {% endif %}
                        {% endif %}

                        <li class="Menu-header__item">
                            <a href="/cart">
                                <svg>
                                    <use href="#golf" xlink:href="#golf"></use>
                                </svg>
								<span class="Menu-header__label">{{ 'menu.header.cart' | t }}</span>
								<span class="Menu-header__item-count">{{ cart.item_count }}</span>
                            </a>
                        </li>

                    </ul>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="Logo">
                    <a class="d-inline-block" href="{{ shop.secure_url }}">
                        <img src="{{ 'logo-blue.svg' | asset_url }}" width="277" height="100" alt="{{ shop.description }}">
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
